* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;


}

.header-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  margin-bottom: 25px;
  overflow: hidden;

}

.wrapper {
  background-color: #e9e0e0;
  position: relative;
}

.header-container_logo {
  width: 50%;
  background-color: #24d4d4;
  color: #fff;
  height: 200px;
  text-align: center;
  padding-top: 90px;
  font-size: large;

}

.header-container_desc {
  font-style: italic;
  width: 50%;
  line-height: 35px;
  position: relative;
  transition: all 0.5s;
}

.header-container_desc:after {
  content: '';
  display: none;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 800px;
  top: -200px;
  transform: rotate(45deg);
  background: transparent;


}


.header-container_desc:hover:after {

  background-color: #24d4d4;
  display: block;
  left: 624px;
  top: -50px;

}

.header-container_desc:hover {
  color: #76cdd8;
}

.header-container_learn {
  width: 50%;
  position: relative;
  transition: all 0.5s;

}

.header-container_learn:after {
  content: '';
  display: none;
  position: absolute;
  width: 100px;
  height: 120px;
  left: -50px;
  top: -65px;
  transform: rotate(45deg);
  background: #24d4d4;
}

.header-container_learn:hover {
  color: #76cdd8;
}



.header-container_learn:hover:after {
  display: block;
}

.header-container_learn h2 {
  color: #76cdd8;
  padding: 20px 20px 20px 40px;
}

.header-container_learn p {
  width: 60%;
  text-align: justify;
  padding: 20px 20px 20px 40px;
  line-height: 35px;
  font-size: medium;

}

.header-container_learn button {
  background-color: #0ecfcf;
  border: none;
  padding: 15px 30px 10px 30px;
  color: #fff;
  margin-left: 70%;
  margin-bottom: 50px;
}

.header-container_logo2 {
  width: 50%;


}

.header-container_logo2-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #24d4d4;
  height: 100%;

}

.header-container_secur span {
  color: #76cdd8;
}

.header-container_logo2-img img {
  width: 42%;
  height: 80%;
  border-radius: 50%;
  margin-left: 27%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.header-container_logo2-img p {
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}

.header-container_logo3 {
  width: 50%;
}

.header-container_logo3 img {
  width: 100%;
  transition: all 0.5s;
}

.header-container_logo3 img:hover {
  transform: scale(1.1)
}

.header-container_desc blockquote {
  margin: 50px 50px 20px 50px;
}

.header-container_secur {
  width: 50%;
  position: relative;


}

.header-container_secur::after {
  content: '';
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 800px;
  top: -200px;
  transform: rotate(45deg);
  background: #24d4d4;

}

.header-container_secur:hover {
  color: #76cdd8;
}

.header-container_secur:hover:after {

  background-color: #24d4d4;
  display: block;
  left: 624px;
  top: -50px;

}


.header-container_secur h2,
.header-container_secur p {
  width: 70%;
  margin: 50px 50px 20px 50px;
}



.header-container_secur button,
.about_text button {
  background-color: #24d4d4;
  border: none;
  padding: 15px 30px 10px 30px;
  color: #fff;
  margin-left: 70%;

}

.header-container_secur button {
  margin-left: 35%;

}

.about_wrapper {
  background-color: #fff;
  display: flex;
}

.about_text {
  padding: 80px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  padding-bottom: 30px;
  color: #24d4d4;
  font-size: 26px;
  font-weight: 600;
}

.about_text p {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 30px;
  color: rgb(49, 48, 48)
}

.about_img img {
  max-height: 650px;
  transition: all 0.5s;
}

.about_img img:hover {
  transform: scale(1.05)
}

.about_text button {
  margin-left: 80%;
}

button:hover {
  background-color: rgb(118, 205, 216)
}

.plan_wrapper {
  background-color: #fff;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;

}




.plan_item-img img {
  width: 100%;
  height: 617px;


}


.plan_item-disc button:hover {
  background-color: #24d4d4;

}

.plan_item-disc {
  transition: all .5s;
}

.plan_item-disc:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4;
  transform: scale(1.1);
}



.plan_item-disc:hover button {
  background-color: rgb(118, 205, 216)
}

.plan_item-disk2 {
  position: relative;
}


.plan_item-disc:last-child:hover:after {

  content: 'Special discount';
  color: #18b1b1;
  display: block;
  position: absolute;
  bottom: 2px;
  left: 79px;
  margin-bottom: 10px;

}

.plants:hover:after {
  position: absolute;
  content: '*';
  color: rgb(241, 6, 6);
  bottom: 13px;
  left: 68px;
  display: block;

}

.plan_item-disc ul {
  list-style: none;
  margin-right: 30px;
  margin-left: 30px;

}

.plan_item-disc li {
  margin-bottom: 15px;
}

.plan_item-disc {
  border: 1px solid rgb(118, 205, 216);
  /* padding: 30px; */
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.plan_item-disc-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #24d4d4;
  padding: 30px;
  color: #fff;
  margin-bottom: 30px;
}

.plan_item-disc h4 {
  margin-bottom: 20px;
}

.plan_item-disc button {
  background-color: #0ecfcf;
  border: none;
  padding: 15px 30px 10px 30px;
  color: #fff;
  margin-left: 25%;
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: large;



}



.aplication {
  width: 100%;
  height: 150px;
  background-color: #24d4d4;
  margin-top: 25px;
  z-index: 1;

}

section {
  z-index: 1;

}

.aplication h4 {
  color: #fff;
  margin-left: 200px;
  padding-top: 40px;
}

.aplication_form {
  z-index: 10;
  width: 70%;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
}


.aplication_form-flex {
  padding: 50px;
  margin-top: -5%;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  z-index: 10;

}

.aplication_form-flex-info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.applic {
  margin-bottom: 15px;
  width: 70%;
  padding: 10px;
}

.applic:hover {
  border: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
  outline: none;
}

.applic2 {
  width: 76%;
}

.applic2:hover {
  border-color: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

.aplication_form-flex-text {
  width: 50%;

}

textarea {
  padding: 20px;
  font-size: large;
}

textarea:hover {
  border-color: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

.applic_btn {
  background-color: #18b1b1;
  border: none;
  padding: 15px 50px 10px 50px;
  color: rgb(56, 55, 55);
  margin-left: 40%;
  margin-bottom: 50px;
  text-transform: uppercase;
  z-index: 1;
}

footer {
  z-index: 0;
  position: absolute;
  width: 100%;
}

footer p {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #585757;
  font-weight: bolder;
}

.footer_wrapper {
  background-color: #18b1b1;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 70px;
  margin-top: -5%;
  z-index: 0;



}

.footer_wrapper ul {
  list-style: none;
  font-size: 20px;
  line-height: 30px;

}

.footer_wrapper h6 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
}